<%= form_with model: @spell, scope: :spell, url: adminbook_spells_path(provider: params[:provider]), method: 'post', class: 'font-cascadia-light' do |form| %>
  <div class="form-field mb-2">
    <div><%= form.label 'Slug', class: 'form-label' %></div>
    <div><%= form.text_field :slug, class: 'form-value w-80', required: true %></div>
  </div>
  <%= form.fields_for :name do |title_form| %>
    <div class="form-field mb-2">
      <div><%= title_form.label 'Name', class: 'form-label' %></div>
      <div><%= title_form.text_field :en, class: 'form-value w-80' %></div>
    </div>
  <% end %>
  <div class="form-field mb-2">
    <div><%= form.label 'Evaluation variables', class: 'form-label' %></div>
    <div><%= form.textarea :data, value: '{}', class: 'form-text text-sm', required: true, size: '100x7' %></div>
  </div>
  <%= form.submit 'Create', class: 'btn btn-primary' %>
<% end %>
