<div class="max-w-7xl mx-auto flex-1 flex flex-col justify-center items-center">
  <%= form_with model: @user, url: signin_index_path, method: :post, class: 'p-4 bg-cosmos' do |form| %>
    <h2 class="text-2xl mb-4"><%= t('web.users.signin.title') %></h2>
    <div class="form-field mb-2">
      <%= form.label :username, t('web.users.signup.username'), class: 'form-label' %>
      <%= form.text_field :username, class: 'form-value w-full', data: { 'test-id' => 'username-input' } %>
    </div>
    <div class="form-field mb-2">
      <%= form.label :password, t('web.users.signup.password'), class: 'form-label' %>
      <%= form.password_field :password, class: 'form-value w-full', data: { 'test-id' => 'password-input' } %>
    </div>
    <div class="mb-2 flex items-center gap-4">
      <% if Rails.env.production? %>
        <%= link_to omniauth_link(:google) do %>
          <%= image_tag 'google.svg', class: 'w-6 h-6', alt: 'google', width: 24, height: 24 %>
        <% end %>
        <%= link_to omniauth_link(:discord) do %>
          <%= image_tag 'discord.svg', class: 'w-6 h-6', alt: 'discord', width: 24, height: 24 %>
        <% end %>
      <% elsif Rails.env.ru_production? %>
        <%= link_to omniauth_link(:yandex) do %>
          <%= image_tag 'yandex.svg', class: 'w-6 h-6', alt: 'yandex', width: 24, height: 24 %>
        <% end %>
      <% else %>
        <%= link_to omniauth_link(:google) do %>
          <%= image_tag 'google.svg', class: 'w-6 h-6', alt: 'google', width: 24, height: 24 %>
        <% end %>
        <%= link_to omniauth_link(:discord) do %>
          <%= image_tag 'discord.svg', class: 'w-6 h-6', alt: 'discord', width: 24, height: 24 %>
        <% end %>
        <%= link_to omniauth_link(:yandex) do %>
          <%= image_tag 'yandex.svg', class: 'w-6 h-6', alt: 'yandex', width: 24, height: 24 %>
        <% end %>
      <% end %>
    </div>
    <% unless Rails.env.production? %>
      <div class="mb-2">
        <%= t('web.users.ru_signup.have') %>
        <%= link_to t('web.users.signup.login'), new_external_path, class: 'underline' %>
      </div>
    <% end %>
    <div class="mb-2">
      <%= t('web.users.signin.have_not') %>
      <%= link_to t('web.users.signin.signup'), new_signup_path, class: 'underline' %>
    </div>
    <%= form.submit t('web.users.signin.create'), class: 'btn btn-primary', data: { 'test-id' => 'signin-button' } %>
  <% end %>
</div>
