<table class="table w-full text-sm">
  <thead>
    <tr>
      <td class="pr-2"></td>
      <td class="pr-2">ID</td>
      <td class="pr-2">Username</td>
      <td class="pr-2">Discarded</td>
      <td class="pr-2">Locale</td>
      <td class="pr-2">Color</td>
      <td class="pr-2">Admin?</td>
      <td>Created</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td class="pr-2"><%= (@pagy.page - 1) * 25 + index + 1 %></td>
        <td class="pr-2"><%= user.id %></td>
        <td class="pr-2"><%= user.username %></td>
        <td class="pr-2"><%= user.discarded_at ? 'Deleted' : '' %></td>
        <td class="pr-2"><%= user.locale %></td>
        <td class="pr-2"><%= user.color_schema %></td>
        <td class="pr-2"><%= user.admin? ? 'Admin' : '' %></td>
        <td><%= user.created_at.strftime('%d-%m-%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @pagy.pages > 1 %>
  <div class="mt-6"><%== pagy_nav(@pagy) %></div>
<% end %>
