<footer class="px-8 py-4">
  <div class="flex flex-col md:flex-row gap-4 justify-between items-center w-full max-w-7xl mx-auto">
    <p>
      <span>&copy;</span> Since 2025, CharKeeper,
      <%= link_to t('tips.title'), tips_path, class: 'ml-2 underline' %>
      <%= link_to 'Changelogs', changelogs_path, class: 'ml-2 underline' %>
      <%= link_to 'Homebrews', homebrews_path, class: 'ml-2 underline' %>
      <%= link_to 'Bot', bot_commands_path, class: 'ml-2 underline' %>
      <%= link_to 'Privacy policy', privacy_path, class: 'ml-2 underline', data: { 'test-id' => 'footer-privacy-link' } %>
    </p>
    <div class="flex">
      <a href="https://buymeacoffee.com/ilyabogdanov" target="_blank" rel="noopener noreferrer">
        <%= image_tag 'coffee.svg', class: 'w-6 h-6 mr-2', alt: 'buymeacoffee', width: 24, height: 24 %>
      </a>
      <a href="https://boosty.to/kortirso" target="_blank" rel="noopener noreferrer" class="opacity-75 hover:opacity-100">
        <%= image_tag 'boosty.svg', class: 'w-6 h-6 mr-2', alt: 'boosty', width: 24, height: 24 %>
      </a>
      <a href="https://discord.gg/CmT8RgyECQ" target="_blank" rel="noopener noreferrer" class="opacity-75 hover:opacity-100">
        <%= image_tag 'discord.svg', class: 'w-6 h-6 mr-2', alt: 'discord', width: 24, height: 24 %>
      </a>
      <a href="https://vk.com/char_keeper" target="_blank" rel="noopener noreferrer" class="opacity-75 hover:opacity-100">
        <%= image_tag 'vk.svg', class: 'w-6 h-6 mr-2', alt: 'vk', width: 24, height: 24 %>
      </a>
    </div>
  </div>
</footer>
