<section class="px-4 sm:px-0 py-8 max-w-7xl mx-auto w-full">
  <h1 class="font-medium! text-2xl">Changelogs</h1>
</section>
<div class="changelog">
  <div class="changelog-content">
    <h2>0.4.21 2026-04-03</h2>
    <h3>D&D 2024</h3>
    <ul>
      <li><span><%= t('changelogs.4021.dnd.title1') %></span>: <%= t('changelogs.4021.dnd.desc1') %></li>
    </ul>
  </div>
</div>
<div class="changelog">
  <div class="changelog-content">
    <h2>0.4.18 2026-03-25</h2>
    <h3>D&D 2024</h3>
    <ul>
      <li><span><%= t('changelogs.4018.dnd.title1') %></span>: <%= t('changelogs.4018.dnd.desc1') %></li>
    </ul>
  </div>
</div>
<div class="changelog">
  <div class="changelog-content">
    <h2 >0.4.16 2026-03-22</h2>
    <h3>D&D 2024</h3>
    <ul>
      <li><span><%= t('changelogs.4016.dnd.title1') %></span>: <%= t('changelogs.4016.dnd.desc1') %></li>
      <li><span><%= t('changelogs.4016.dnd.title2') %></span>: <%= t('changelogs.4016.dnd.desc2') %></li>
      <li><span><%= t('changelogs.4016.dnd.title3') %></span>: <%= t('changelogs.4016.dnd.desc3') %></li>
    </ul>
  </div>
</div>
