<section id="head" class="w-full px-8">
  <div class="max-w-7xl mx-auto py-8 lg:py-12 flex flex-col items-center">
    <h1 class="mb-4 text-center font-medium! text-[40px]">CharKeeper</h1>
    <p class="mb-8 text-center text-lg"><%= t('web.welcome.index_v2.title') %></p>
    <% if current_user %>
      <div class="mb-8 flex gap-x-4">
        <%= link_to t('web.welcome.index_v2.dashboard_link'), dashboard_path, class: 'btn btn-primary inline-block' %>
        <%= link_to t('web.welcome.index_v2.homebrews_link'), homebrews_path, class: 'btn btn-primary inline-block' %>
      </div>
    <% end %>
    <div class="mb-16">
      <%= image_tag 'screenshots/general.webp', alt: 'charkeeper', width: 900, height: 544 %>
    </div>
    <div class="max-w-5xl">
      <p class="text-lg mb-4"><%= t('web.welcome.index_v2.description3') %></p>
      <% if Rails.env.production? %>
        <%= link_to t('web.welcome.index_v2.switch_ru'), 'https://charkeeper.ru', target: '_blank', rel: 'noopener noreferrer', class: 'btn btn-primary inline-block' %>
      <% else %>
        <%= link_to t('web.welcome.index_v2.switch_eu'), 'https://charkeeper.org', target: '_blank', rel: 'noopener noreferrer', class: 'btn btn-primary inline-block' %>
      <% end %>
    </div>
  </div>
</section>
<section class="w-full bg-cosmos px-8">
  <div class="max-w-7xl mx-auto py-8 lg:py-12 flex flex-col lg:flex-row gap-8 items-center">
    <div class="flex-1">
      <%= image_tag 'screenshots/dnd.webp', alt: 'dnd', width: 624, height: 377 %>
    </div>
    <div class="flex-1 flex flex-col items-center lg:items-start">
      <h2 class="text-2xl mb-4 lg:text-4xl text-center lg:text-left"><%= t('web.welcome.index_v2.ttrpgs') %></h2>
      <p class="text-center lg:text-left mt-2"><%= t('web.welcome.index_v2.ttrpgs_desc') %></p>
      <p class="text-center lg:text-left mt-2"><%= t('web.welcome.index_v2.ttrpgs_desc3').html_safe %></p>
    </div>
  </div>
</section>
<section class="w-full px-8">
  <div class="max-w-7xl mx-auto py-8 lg:py-12 flex flex-col-reverse lg:flex-row gap-8 items-center">
    <div class="flex-1 flex flex-col items-center lg:items-start">
      <h2 class="text-2xl mb-4 lg:text-4xl text-center lg:text-left"><%= t('web.welcome.index_v2.cross') %></h2>
      <p class="mb-4 text-center lg:text-left"><%= t('web.welcome.index_v2.cross_desc') %></p>
      <div class="mb-4 flex gap-x-4">
        <%= link_to 'https://apps.apple.com/us/app/charkeeper/id6752808498', target: '_blank', rel: 'noopener noreferrer' do %>
          <%= image_tag 'app_store.svg', alt: 'App store', width: 132, height: 44 %>
        <% end %>
        <%= link_to 'https://play.google.com/store/apps/details?id=org.kortirso.charkeeper', target: '_blank', rel: 'noopener noreferrer' do %>
          <%= image_tag 'google_store.svg', alt: 'Google store', width: 149, height: 44 %>
        <% end %>
      </div>
      <p class="mb-4"><%= t('web.welcome.index_v2.app_for') %> <%= link_to 'MacOS', "#{root_url}Charkeeper_aarch64.dmg", class: 'underline', download: 'Charkeeper_aarch64.dmg' %></p>
      <p class="mb-4"><%= t('web.welcome.index_v2.app_for') %> <%= link_to 'Android', "#{root_url}Charkeeper.apk", class: 'underline', download: 'Charkeeper.apk' %></p>
    </div>
    <div class="flex-1">
      <%= image_tag 'screenshots/apps.webp', alt: 'apps', width: 624, height: 364 %>
    </div>
  </div>
</section>
<section class="w-full bg-cosmos px-8">
  <div class="max-w-7xl mx-auto py-8 lg:py-12 flex flex-col lg:flex-row gap-8 items-center">
    <div class="flex-1">
      <%= image_tag 'screenshots/integrations.webp', alt: 'integrations', width: 624, height: 509 %>
    </div>
    <div class="flex-1 flex flex-col items-center lg:items-start">
      <h2 class="text-2xl mb-4 lg:text-4xl text-center lg:text-left"><%= t('web.welcome.index_v2.integrations') %></h2>
      <p class="text-center lg:text-left"><%= t('web.welcome.index_v2.integrations_desc') %></p>
      <h2 id="extensions" class="mt-8 text-2xl mb-4 lg:text-4xl text-center lg:text-left"><%= t('web.welcome.index_v2.extension') %></h2>
      <p class="text-center lg:text-left mb-4"><%= t('web.welcome.index_v2.extension_desc') %></p>
      <p class="mb-4"><%= t('web.welcome.index_v2.extension_for') %> <%= link_to 'Firefox', "#{root_url}charkeeper-1.0.xpi", class: 'underline', download: 'Charkeeper.xpi' %></p>
      <p class="mb-4"><%= t('web.welcome.index_v2.extension_for') %> <%= link_to 'Firefox (source code)', 'https://github.com/kortirso/charkeeper_mozext', class: 'underline' %></p>
      <p><%= t('web.welcome.index_v2.extension_for') %> <%= link_to 'Chrome (source code)', 'https://github.com/kortirso/charkeeper_chromext', class: 'underline' %></p>
    </div>
  </div>
</section>
<section class="w-full px-8">
  <div class="max-w-7xl mx-auto py-8 lg:py-12 flex flex-col-reverse lg:flex-row gap-8 items-center">
    <div class="flex-1 flex flex-col items-center lg:items-start">
      <h2 class="text-2xl mb-4 lg:text-4xl text-center lg:text-left"><%= t('web.welcome.index_v2.homebrews.title') %></h2>
      <p class="mb-4 text-center lg:text-left"><%= t('web.welcome.index_v2.homebrews.feature_1') %></p>
      <p class="text-center lg:text-left"><%= t('web.welcome.index_v2.homebrews.feature_2') %></p>
    </div>
    <div class="flex-1">
      <%= image_tag 'screenshots/homebrews.webp', alt: 'homebrews', width: 624, height: 397 %>
    </div>
  </div>
</section>
<section class="w-full bg-cosmos px-8">
  <div class="max-w-7xl mx-auto py-8 lg:py-12 flex flex-col lg:flex-row gap-8 items-center">
    <div class="flex-1">
      <%= image_tag 'screenshots/open-source.webp', alt: 'open source', width: 624, height: 414 %>
    </div>
    <div class="flex-1 flex flex-col items-center lg:items-start">
      <h2 class="text-2xl mb-4 lg:text-4xl text-center lg:text-left"><%= t('web.welcome.index_v2.open_source') %></h2>
      <p class="mb-4 text-center lg:text-left"><%= t('web.welcome.index_v2.os_desc') %></p>
      <%= link_to t('web.welcome.index_v2.os_link'), 'https://github.com/kortirso/charkeeper', class: 'btn btn-primary inline-block', target: '_blank', rel: 'noopener noreferrer' %>
    </div>
  </div>
</section>
<section class="w-full px-8">
  <div class="max-w-4xl mx-auto py-8 lg:py-12 flex flex-col-reverse lg:flex-row gap-8 items-center">
    <div class="flex-1 flex flex-col items-center gap-4">
      <h2 class="text-2xl lg:text-4xl"><%= t('web.welcome.index_v2.support.title') %></h2>
      <p><%= t('web.welcome.index_v2.support.description') %></p>
      <div class="flex">
        <a href="https://buymeacoffee.com/ilyabogdanov" target="_blank" rel="noopener noreferrer">
          <%= image_tag 'coffee.svg', class: 'w-6 h-6 mr-2', alt: 'buymeacoffee', width: 24, height: 24 %>
        </a>
        <a href="https://boosty.to/kortirso" target="_blank" rel="noopener noreferrer" class="opacity-75 hover:opacity-100">
          <%= image_tag 'boosty.svg', class: 'w-6 h-6 mr-2', alt: 'boosty', width: 24, height: 24 %>
        </a>
      </div>
    </div>
  </div>
</section>
