<%= form_with model: @feat, scope: :feat, url: adminbook_feat_path(@feat, provider: params[:provider]), method: 'patch', class: 'font-cascadia-light' do |form| %>
  <div class="form-field mb-2">
    <div><%= form.label 'Slug', class: 'form-label' %></div>
    <div><%= form.text_field :slug, class: 'form-value w-80', required: true %></div>
  </div>
  <%= form.fields_for :title, @feat.title do |title_form| %>
    <div class="form-field mb-2">
      <div><%= title_form.label 'Title', class: 'form-label' %></div>
      <div><%= title_form.text_field :en, value: @feat.title['en'], class: 'form-value w-80' %></div>
    </div>
  <% end %>
  <%= form.fields_for :description, @feat.description do |description_form| %>
    <div class="form-field mb-2">
      <div><%= description_form.label 'Description', class: 'form-label' %></div>
      <div><%= description_form.textarea :en, value: @feat.description['en'], class: 'form-text text-sm', size: '100x7' %></div>
    </div>
  <% end %>
  <div class="form-field mb-2">
    <div><%= form.label 'Excluded features', class: 'form-label' %></div>
    <div><%= form.text_field :exclude, value: (@feat.exclude&.join(',') || ''), class: 'form-text text-sm' %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Origin', class: 'form-label' %></div>
    <div><%= form.select :origin, @feat_class.origins.keys, required: true %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Origin value', class: 'form-label' %></div>
    <div><%= form.text_field :origin_value, class: 'form-value', required: true %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Kind', class: 'form-label' %></div>
    <div><%= form.select :kind, @feat_class.kinds.keys, required: true %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Refresh after', class: 'form-label' %></div>
    <div><%= form.select :limit_refresh, @feat_class.limit_refreshes.keys, include_blank: true %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Options list', class: 'form-label' %></div>
    <div><%= form.textarea :options, class: 'form-text text-sm', size: '100x7' %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Conditions', class: 'form-label' %></div>
    <div><%= form.textarea :conditions, class: 'form-text text-sm', size: '100x7' %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Base bonus variables', class: 'form-label' %></div>
    <div><%= form.textarea :bonus_eval_variables, class: 'form-text text-sm', required: true, size: '100x7' %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Description variables', class: 'form-label' %></div>
    <div><%= form.textarea :description_eval_variables, class: 'form-text text-sm', required: true, size: '100x7' %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Evaluation variables', class: 'form-label' %></div>
    <div><%= form.textarea :eval_variables, class: 'form-text text-sm', required: true, size: '100x7' %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Price', class: 'form-label' %></div>
    <div><%= form.textarea :price, class: 'form-text text-sm', required: true, size: '100x7' %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Info', class: 'form-label' %></div>
    <div><%= form.textarea :info, class: 'form-text text-sm', required: true, size: '100x7' %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Activatable', class: 'form-label' %></div>
    <div><%= form.checkbox :continious, class: 'form-text text-sm' %></div>
  </div>
  <%= form.submit 'Update', class: 'btn btn-primary' %>
<% end %>
