<div class="mb-4">
  <%= link_to 'New feat', new_adminbook_feat_path(provider: params[:provider]), class: 'btn btn-primary font-cascadia-light' %>
</div>
<table class="table w-full text-sm">
  <thead>
    <tr>
      <td>Slug</td>
      <td>Title</td>
      <td>Kind</td>
      <td>Description</td>
      <td>Price</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @feats.each do |feat| %>
      <tr>
        <td class="pr-4">
          <p>
            <%= link_to feat.slug, edit_adminbook_feat_path(feat.id, provider: params[:provider]), class: 'underline text-blue-400' %>
          <p>
          <p><%= feat.origin %></p>
          <p><%= feat.origin_value %></p>
        </td>
        <td class="pr-4">
          <p><%= feat.title['en'] %></p>
        </td>
        <td class="pr-4">
          <p class="text-xs"><%= feat.kind %></p>
        </td>
        <td class="pr-4">
          <p><%= feat.description_eval_variables %></p>
        </td>
        <td class="pr-4">
          <p class="text-xs"><%= feat.price %></p>
        </td>
        <td>
          <%= button_to 'X', adminbook_feat_path(feat.id, provider: params[:provider]), method: :delete, class: 'btn-warning btn-small text-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
