<%= form_with model: @notification, scope: :notification, url: adminbook_notifications_path, method: 'post', class: 'font-cascadia-light' do |form| %>
  <div class="form-field mb-2">
    <div><%= form.label 'Message', class: 'form-label' %></div>
    <div><%= form.textarea :value, class: 'form-text text-sm', required: true, size: '100x7' %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Locale', class: 'form-label' %></div>
    <div><%= form.text_field :locale, class: 'form-text text-sm', required: true %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Targets', class: 'form-label' %></div>
    <div><%= form.text_field :targets, class: 'form-text text-sm', required: true %></div>
  </div>
  <%= form.submit 'Create', class: 'btn btn-primary' %>
<% end %>
