<%= form_with model: @item_recipe, scope: :item_recipe, url: adminbook_dnd2024_recipes_path, method: 'post', class: 'font-cascadia-light' do |form| %>
  <div class="form-field mb-2">
    <div><%= form.label 'Tool', class: 'form-label' %></div>
    <div><%= form.select :tool_id, Item.dnd.where(kind: 'tools').map { |c| [c.name[I18n.locale.to_s], c.id] }, required: true %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Crafted item', class: 'form-label' %></div>
    <div><%= form.select :item_id, Item.dnd.where.not(kind: 'tools').map { |c| [c.name[I18n.locale.to_s], c.id] }, include_blank: true %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Info', class: 'form-label' %></div>
    <div><%= form.textarea :info, class: 'form-text text-sm', required: true, size: '100x7' %></div>
  </div>
  <%= form.submit 'Create', class: 'btn-primary btn' %>
<% end %>
