<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || 'CharKeeper' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= stylesheet_link_tag 'tailwind' %>
    <%= stylesheet_link_tag :application %>
  </head>
  <body class="w-full h-screen flex">
    <nav class="p-2 w-48 flex flex-col overflow-y-auto">
      <%= link_to 'Main', adminbook_path %>
      <%= link_to 'Users', adminbook_users_path %>
      <%= link_to 'Platforms', adminbook_users_platforms_path %>
      <%= link_to 'Feedbacks', adminbook_feedbacks_path %>
      <%= link_to 'User notifications', adminbook_users_notifications_path %>
      <%= link_to 'Notifications', adminbook_notifications_path %>
      <%= link_to 'Campaigns', adminbook_campaigns_path %>
      <p class="mt-4 text-gray-400">D&D 5</p>
      <%= link_to 'Characters', adminbook_dnd5_characters_path %>
      <%= link_to 'Items', adminbook_items_path(provider: 'dnd5') %>
      <%= link_to 'Spells', adminbook_spells_path(provider: 'dnd5') %>
      <%= link_to 'Feats', adminbook_feats_path(provider: 'dnd5') %>
      <p class="mt-4 text-gray-400">D&D 2024</p>
      <%= link_to 'Characters', adminbook_dnd2024_characters_path %>
      <%= link_to 'Items', adminbook_items_path(provider: 'dnd2024') %>
      <%= link_to 'Feats', adminbook_feats_path(provider: 'dnd2024') %>
      <%= link_to 'Recipes', adminbook_dnd2024_recipes_path %>
      <p class="mt-4 text-gray-400">TLC</p>
      <%= link_to 'Feats', adminbook_tlc_feats_path %>
      <%= link_to 'Spells', adminbook_tlc_spells_path %>
      <%= link_to 'Items', adminbook_tlc_items_path %>
    </nav>
    <main class="flex-1 overflow-y-auto p-4">
      <%= yield %>
    </main>
  </body>
</html>
