<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <title><%= content_for(:title) || 'CharKeeper | Character builder for various tabletop games' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="Keywords" content="Digital, interactive, character sheet, character builder, dungeons & dragons, pathfinder, daggerheart, dc20, fate">
    <meta name="Description" content="CharKeeper - create and manage your characters and homebrews for various tabletop roleplaying games D&D, Daggerheart, DC20, Pathfinder, Fate, Fallout, mobile application available">
    <meta property="og:title" content="CharKeeper | Character  builder for various tabletop games" />
    <meta property="og:description" content="CharKeeper - create and manage your characters and homebrews for various tabletop roleplaying games D&D, Daggerheart, DC20, Pathfinder, Fate, Fallout, mobile application available" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://charkeeper.org" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= stylesheet_link_tag 'tailwind' %>
    <%= stylesheet_link_tag :application %>
  </head>
  <body class="web">
    <main class="relative flex flex-col m-0 p-0 min-h-screen">
      <%= render 'controllers/web/shared/flash' %>
      <div class="w-full py-2 px-2 lg:px-0">
        <div class="max-w-7xl mx-auto flex flex-row justify-between items-center">
          <%= link_to root_path do %>
            <%= image_tag 'icon.png', alt: 'charkeeper', width: 24, height: 24 %>
          <% end %>
          <div>
            <%= link_to t('web.welcome.index_v2.dashboard_link'), dashboard_path, class: 'underline', data: { 'test-id' => 'signin-link' } %>
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-1 overflow-x-hidden">
        <%= yield %>
      </div>
      <%= render 'controllers/web/shared/footer' %>
      <% unless cookies[:charkeeper_cookie_banner] %>
        <div class="fixed bottom-4 md:bottom-16 right-4 p-4 bg-white text-black rounded w-md shadow max-w-9/10">
          <h2 class="text-lg font-medium! mb-4"><%= t('cookie_banner.title') %></h2>
          <p class="mb-2"><%= t('cookie_banner.p1') %></p>
          <p><%= t('cookie_banner.p2') %></p>
          <div class="absolute top-2 right-2">
            <%= link_to close_cookie_banner, aria: { label: t('close_cookie') }, data: { 'test-id' => 'close-cookie-banner' } do %>
              <%= image_tag 'close.svg', class: 'w-10 h-10', alt: 'close', width: 40, height: 40 %>
            <% end %>
          </div>
        </div>
      <% end %>
    </main>
  </body>
</html>
