<!DOCTYPE html>
<html lang="en" id="charkeeper_app_html">
  <head>
    <title><%= content_for(:title) || 'CharKeeper' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= stylesheet_link_tag 'tailwind' %>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag 'application' %>
    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/5.4.54/pdf.min.mjs"></script>
    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/5.4.54/pdf.worker.min.mjs"></script>
  </head>
  <body id="charkeeper_app_body">
    <%= yield %>
  </body>
</html>
